body{
    background-color: antiquewhite;
}
h1{
    color: bisque;
}
ul{
  color: rgb(59, 105, 105);
}
table, th, td {
  border: 1px solid black;
  border: - collapse: collapse;
}
th, td {
  background-color: #96D4D4;
}